# Server Configuration
PORT=8080
GIN_MODE=debug

# JWT Configuration
JWT_SECRET=minha-chave-secreta-super-segura-mude-em-producao

# Supabase Configuration
SUPABASE_PROJECT_ID=id-supabase
SUPABASE_API_KEY=chave-supabase
SUPABASE_PROJECT_URL=url-supabase
