# Server Configuration
PORT=8080
GIN_MODE=debug

# Supabase Configuration
SUPABASE_PROJECT_URL=url-supabase
SUPABASE_ANON_KEY=chave-supabase
SUPABASE_JWT_SECRET=jwt-secret-do-supabase

DATABASE_URL=postgresql://postgres:password@db.projectRef.supabase.co:5432/postgres
